#navigation-bar{
    display: flex;
    justify-content: space-between;
}

#title-bar {
    display: flex;    
}

#title-bar button{
    background-color: transparent;
    border: none;
    color: #f6bd60;
    cursor: pointer;
}

.nav-items {
    display: flex;
}

.nav-items button {
    background-color: transparent;
    border: none;    
    cursor: pointer;
    padding: 1rem 3rem;
}

h1 {
    color: #f6bd60;
}

#main {
    display: flex;
}

#left-side, #right-side {
    width: 50%;
}