body {
    font-family: 'Inter', sans-serif;
    background-color: black;
}

.container {
    margin: 0 auto;
    width: 100%; max-width: 1920px;
    background-color: white;
}

.navigation-bar {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.main {
    display: flex;   
    padding-right: 1rem;
    padding-left: 2rem;
    padding-top: 10rem;
    padding-bottom: 20rem;
}

#title-bar {
    width: 40%;
    padding-left: 1rem;
}

.nav-items {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

#title-bar button {
    border: none;
    background-color: transparent;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: #F6BD60;
    cursor: pointer;
}

.nav-items button{
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #0A1045;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: #F6BD60;
}

.left-side, .right-side {
    display: flex;
    justify-content: center;    
}

.left-side {
    flex-direction: column;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;    
    color: #0A1045;
    padding-left: 12rem;
    padding-right: 2rem;
    width: 40%;
}

.right-side {
    width: 60%;
}

#img1 {
    transform: translate(250px, 48px);
    width: 500px;
    height: 500px;
}

#img2 {
    transform: translate(-350px, 130px);
    width: 479.25px;
    height: 500px;
}

footer {
    background-color: #90F1EF;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    color: #0A1045;
}

.email {
    width: 80%;
    padding-left: 1rem;
}

.social-media {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    padding-right: 5rem;
}

/* Tablet Styles 834px*/
@media screen and (max-width: 834px) { 
    .main {
        display: flex;   
        padding-right: 1rem;
        padding-left: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .navigation-bar {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 1rem;
    }

    #title-bar {
        width: 100%;
        padding-left: 1rem;
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
    }

    #title-bar button {
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
        cursor: pointer;
    }

    .nav-items button{
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
    }

    .nav-items{
        width: 100%;
    }

    .left-side {
        flex-direction: column;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;    
        color: #0A1045;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 40%;
    }

    h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 61px;
    }

    #img1 {
        transform: translate(130px, 40px);
        width: 287px;
        height: 342.81px;
    }
    
    #img2 {
        transform: translate(-215px, 100px);
        width: 275px;
        height: 342.81px;
    }

    footer {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
    }

    #img3, #img4 {
        width: 75px;
        height: 75px;
    }

    .social-media {
        padding-right: 1rem;
    }

}

/* Phone Styles 360px*/
@media screen and (max-width: 360px) {
}